<div class="content">
    <div class="container">
        <h2 class="title">Bem-Vindo</h2>
        <form class="login-form" (ngSubmit)="login()">
            <div class="input-container">
                <input type="text"/>
                <label>Usuário</label>
              </div>
              
              <div class="input-container">
                <input type="text"/>
                <label>Senha</label>
              </div>
              <div class="input-container">
                <input type="submit" value="Submit"/>
              </div>
        </form>
        <hr>
        <div class="options">
            <p class="options-text">Ou acesse usando:</p>
            <div class="icons">
                <img src="../../../assets/images/google_logo.svg" id="grow" alt="Google Logo">
                <img src="../../../assets/images/github-mark-white.svg" alt="GitHub Logo">
            </div>
        </div>
    </div>
</div>